.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 30px 0px 30px 64px;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background: #2f80ed;
}


.logo {
  width: 228px;
  height: 32px;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.main-illustration {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.description__two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.description__two-columns_brief {
  width: 175px;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  color: #2f80ed;
}

.description__two-columns_main_text {
  width: 80%;
  min-width: 784px;
}

.description__two-columns_paragraph {
  line-height: 34px;
  font-size: 24px;
}

.description__two-columns_paragraph + .description__two-columns_paragraph {
  margin-top: 30px;
}

.description__two-columns_span-accent {
  font-weight: 600;
}

.digits {
  padding: 100px 0;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-title_theme_dark {
  color: #fff;
  position: relative;
  z-index: 2;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
}

.section-subtitle_theme_dark {
  color: #fff;
  position: relative;
  z-index: 2;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_theme_dark {
  position: relative;
  z-index: 2;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-top: 80px;
}

.table__heading {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  height: 890px;
  position: relative;
  background: #f2f2f2 url('/images/feynman.png') left bottom no-repeat;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  margin: 70px auto 0;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  padding: 90px 0;
  background: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
}

.footer {
  background: #1f1f1f;
  color: #fff;
}

.footer__columns {
  width: 90%;
  min-height: 350px;
  margin: 0 auto;
  padding: 60px 0 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.footer__social-img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
